In [157]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [210]:
crime = pd.read_csv('crimes_against_women_2001-2014.csv')
# crime = crime.drop(['CRIME HEAD'],axis='columns')
crime.drop(['Year'],axis=1,inplace=True)
crime

,Unnamed: 0,STATE/UT,DISTRICT,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),10,7,1,32,8,4,0

In [211]:
crime.drop(['Unnamed: 0'],axis=1,inplace=True)
crime.drop(['DISTRICT'],axis=1,inplace=True)

In [212]:
print(crime['STATE/UT'].unique())
len(crime['STATE/UT'].unique())

['ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH' 'GOA'
 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'JHARKHAND'
 'KARNATAKA' 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA'
 'MIZORAM' 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'A & N ISLANDS'
 'CHANDIGARH' 'D & N HAVELI' 'DAMAN & DIU' 'DELHI' 'LAKSHADWEEP'
 'PUDUCHERRY' 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar'
 'Chhattisgarh' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh'
 'Jammu & Kashmir' 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal' 'A&N Islands' 'Chandigarh' 'D&N Haveli'
 'Daman & Diu' 'Delhi UT' 'Lakshadweep' 'Puducherry' 'Telangana'
 'A & N Islands']

72

In [215]:
def get_case_consistency(row):
    row = row['STATE/UT'].strip()
    row = row.upper()
    #row = row.title()
    return row
crime['STATE/UT'] = crime.apply(get_case_consistency, axis=1)
crime['STATE/UT'].replace("A&N ISLANDS", "A & N ISLANDS", inplace = True)
crime['STATE/UT'].replace("D&N HAVELI", "D & N HAVELI", inplace = True)
crime['STATE/UT'].replace("DELHI UT", "DELHI", inplace = True)
crime['STATE/UT'].unique()
crime

,STATE/UT,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,50,30,16,149,34,175,0
1,ANDHRA PRADESH,23,30,7,118,24,154,0
2,ANDHRA PRADESH,27,34,14,112,83,186,0
3,ANDHRA PRADESH,20,20,17,126,38,57,0
4,ANDHRA PRADESH,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...
10672,LAKSHADWEEP,1,0,0,1,2,0,0
10673,LAKSHADWEEP,1,0,0,1,2,0,0
10674,PUDUCHERRY,3,1,0,12,1,1,0
10675,PUDUCHERRY,7,6,1,20,7,3,0
10676,PUDUCHERRY,10,7,1,32,8,4,0

In [162]:

crime.isnull().sum()

STATE/UT                                               0
Rape                                                   0
Kidnapping and Abduction                               0
Dowry Deaths                                           0
Assault on women with intent to outrage her modesty    0
Insult to modesty of Women                             0
Cruelty by Husband or his Relatives                    0
Importation of Girls                                   0
dtype: int64

In [224]:
Year=[2001, 2002, 2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014], 
def func(total_case_all_years):

    for i in list(crime.columns)[1:]:
        total_case_all_years[i]=crime.groupby(['STATE/UT'])[i].sum()
        
    return total_case_all_years


total_case_all_years=pd.DataFrame()
total_case_all_years=func(total_case_all_years)
total_case_all_years.insert(0, 'Year', ["A & N ISLANDS","ANDHRA PRADESH","ARUNACHAL PRADESH","ASSAM","BIHAR","CHANDIGARH","CHHATTISGARH",
                                        "D & N HAVELI", "DAMAN & DIU","DELHI","GOA","GUJARAT","HARYANA",
                                        "HIMACHAL PRADESH","JAMMU & KASHMIR","JHARKHAND","KARNATAKA","KERALA", 
                                        "LAKSHADWEEP","MADHYA PRADESH","MAHARASHTRA","MANIPUR","MEGHALAYA",
                                        "MIZORAM","NAGALAND","ODISHA","PUDUCHERRY","PUNJAB","RAJASTHAN","SIKKIM",
                                        "TAMIL NADU","TELANGANA","TRIPURA","UTTAR PRADESH","UTTARAKHAND","WEST BENGAL"], True)
total_case_all_years['Total'] = total_case_all_years.iloc[:,[1,2,3,4,5,6,7]].sum(axis=1)
total_case_all_years

,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls,Total
STATE/UT,,,,,,,,,
A & N ISLANDS,A & N ISLANDS,336,212,20,600,112,288,0,1568
ANDHRA PRADESH,ANDHRA PRADESH,32150,34504,13844,126952,86964,280906,34,575354
ARUNACHAL PRADESH,ARUNACHAL PRADESH,1316,1470,6,1996,48,476,0,5312
ASSAM,ASSAM,40190,62074,3268,38256,254,115300,22,259364
BIHAR,BIHAR,30758,57086,32206,16958,694,69770,904,208376
CHANDIGARH,CHANDIGARH,770,1682,90,1088,342,2080,0,6052
CHHATTISGARH,CHHATTISGARH,29308,11808,2758,47096,3968,23436,12,118386
D & N HAVELI,D & N HAVELI,132,224,2,106,12,90,0,566
DAMAN & DIU,DAMAN & DIU,60,44,6,40,4,76,0,230
DELHI,DELHI,20312,46586,3758,30742,7928,42834,2,152162
GOA,GOA,1062,640,38,1384,468,532,0,4124
GUJARAT,GUJARAT,11644,34670,1108,23186,3230,146468,0,220306
HARYANA,HARYANA,17110,20016,7372,17142,17866,68414,4,147924
HIMACHAL PRADESH,HIMACHAL PRADESH,4674,4116,112,9256,1220,7796,0,27174
JAMMU & KASHMIR,JAMMU & KASHMIR,7038,21164,294,28638,9168,5390,0,71692
JHARKHAND,JHARKHAND,22826,14186,7896,9898,566,23910,298,79580
KARNATAKA,KARNATAKA,15056,16262,7016,65750,2276,72706,94,179160
KERALA,KERALA,20030,4452,700,80438,7930,111626,0,225176
LAKSHADWEEP,LAKSHADWEEP,20,2,0,14,4,14,0,54
MADHYA PRADESH,MADHYA PRADESH,90996,35608,21090,195478,20964,102816,134,467086
MAHARASHTRA,MAHARASHTRA,48974,30368,9696,114704,32634,193202,6,429584
MANIPUR,MANIPUR,1068,2606,6,1322,6,578,0,5586
MEGHALAYA,MEGHALAYA,2642,670,36,1470,124,460,8,5410
MIZORAM,MIZORAM,2070,30,8,1988,70,134,6,4306
NAGALAND,NAGALAND,562,190,2,260,24,32,2,1072
ODISHA,ODISHA,30480,25588,10782,80214,7488,49206,36,203794
PUDUCHERRY,PUDUCHERRY,208,306,56,1314,600,234,0,2718
PUNJAB,PUNJAB,14656,15096,3524,12410,1728,30840,4,78258
RAJASTHAN,RAJASTHAN,45684,66278,11854,83362,794,262200,14,470186
SIKKIM,SIKKIM,570,180,4,586,34,108,0,1482
TAMIL NADU,TAMIL NADU,16660,30908,5060,43404,21170,45524,30,162756
TELANGANA,TELANGANA,1958,1422,578,6376,2284,12738,0,25356
TRIPURA,TRIPURA,5060,2202,752,7344,114,16086,0,31558
UTTAR PRADESH,UTTAR PRADESH,51150,135906,57256,91212,53130,193738,6,582398
UTTARAKHAND,UTTARAKHAND,3752,6484,1974,4366,3190,9756,2,29524
WEST BENGAL,WEST BENGAL,47876,61158,12308,66908,5348,344124,254,537976

In [225]:
x = total_case_all_years.iloc[:,1].values
y = total_case_all_years.iloc[:,8].values
z=x*100/y
print(z)

[21.42857143  5.58786417 24.77409639 15.49559692 14.76081698 12.72306675
 24.75630564 23.32155477 26.08695652 13.34893074 25.75169738  5.2853758
 11.56675049 17.20026496  9.81699492 28.6830862   8.40366153  8.89526415
 37.03703704 19.48163721 11.40033148 19.11922664 48.83548983 48.07245704
 52.42537313 14.95627938  7.6526858  18.7277978   9.71615488 38.46153846
 10.23618177  7.72203818 16.0339692   8.78265379 12.70830511  8.89928175]

In [193]:
# import matplotlib.pyplot as plt
# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# x = total_case_all_years.iloc[:,1].values
# y = total_case_all_years.iloc[:,8].values
# ax.scatter(x,y)
# plt.show()

In [165]:
pd.DataFrame(total_case_all_years.sum(axis=1),columns=['Total Number of Cases'])

                   Total Number of Cases
STATE/UT
A & N ISLANDS                       3136
ANDHRA PRADESH                   1150674
ARUNACHAL PRADESH                  10624
ASSAM                             518706
BIHAR                             415848
CHANDIGARH                         12104
CHHATTISGARH                      236760
D & N HAVELI                        1132
DAMAN & DIU                          460
DELHI                             304322
GOA                                 8248
GUJARAT                           440612
HARYANA                           295844
HIMACHAL PRADESH                   54348
JAMMU & KASHMIR                   143384
JHARKHAND                         158862
KARNATAKA                         358226
KERALA                            450352
LAKSHADWEEP                          108
MADHYA PRADESH                    934038
MAHARASHTRA                       859162
MANIPUR                            11172
MEGHALAYA                          10812
MIZORAM                             8606
NAGALAND                            2142
ODISHA                            407552
PUDUCHERRY                          5436
PUNJAB                            156512
RAJASTHAN                         940358
SIKKIM                              2964
TAMIL NADU                        325482
TELANGANA                          50712
TRIPURA                            63116
UTTAR PRADESH                    1164790
UTTARAKHAND                        59046
WEST BENGAL                      1075698

In [204]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X = total_case_all_years.iloc[:,[1,2,3,4,5,6,7]].values
y = total_case_all_years.iloc[:,8].values
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
print(y)
regressor = LinearRegression()
regressor.fit(X_train,y_train)

print ("Your Test Set is:- \n",X_test)
#X_tst = np.array([2015, 0, 0,  0, 0, 0, 0, 0, 0, 0,  0, 0])
accuracy = regressor.score(X_test,y_test)
print("\nYour Prediction has the accuracy of-",accuracy*100,"%")

y_prediction = regressor.predict(X_test)
print("\nPredicted Total Crime for above given years is:-\n",y_prediction)

[  1568 575320   5312 259342 207472   6052 118374    566    230 152160
   4124 220306 147920  27174  71692  79282 179066 225176     54 466952
 429578   5586   5402   4300   1070 203758   2718  78254 470172   1482
 162726  25356  31558 582392  29522 537722]
Your Test Set is:-
 [[ 30758  57086  32206  16958    694  69770    904]
 [  5060   2202    752   7344    114  16086      0]
 [    20      2      0     14      4     14      0]
 [ 32150  34504  13844 126952  86964 280906     34]
 [   562    190      2    260     24     32      2]
 [ 90996  35608  21090 195478  20964 102816    134]
 [  1316   1470      6   1996     48    476      0]
 [ 17110  20016   7372  17142  17866  68414      4]]

Your Prediction has the accuracy of- 100.0 %

Predicted Total Crime for above given years is:-
 [2.07472e+05 3.15580e+04 5.40000e+01 5.75320e+05 1.07000e+03 4.66952e+05
 5.31200e+03 1.47920e+05]